body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:811px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:595px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  position:absolute;
  left:74px;
  top:60px;
  width:334px;
  height:595px;
}
#u577 {
  position:absolute;
  left:2px;
  top:290px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u578 {
  position:absolute;
  left:106px;
  top:89px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u579 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:17px;
}
#u580 {
  position:absolute;
  left:81px;
  top:60px;
  width:320px;
  height:17px;
}
#u581 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:43px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u582 {
  position:absolute;
  left:74px;
  top:76px;
  width:334px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u583 {
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u584 {
  position:absolute;
  left:371px;
  top:86px;
  width:23px;
  height:23px;
}
#u585 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u586 {
  position:absolute;
  left:90px;
  top:92px;
  width:17px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u587 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589 {
  position:absolute;
  left:74px;
  top:124px;
  width:334px;
  height:118px;
}
#u590 {
  position:absolute;
  left:2px;
  top:51px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u591 {
  position:absolute;
  left:81px;
  top:132px;
  width:55px;
  height:55px;
}
#u592 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u593 {
  position:absolute;
  left:141px;
  top:132px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u594 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u595 {
  position:absolute;
  left:141px;
  top:151px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u596 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u597 {
  position:absolute;
  left:142px;
  top:169px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u598 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u599 {
  position:absolute;
  left:184px;
  top:204px;
  width:114px;
  height:22px;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u600 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u601 {
  position:absolute;
  left:358px;
  top:153px;
  width:43px;
  height:16px;
}
#u602 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u604 {
  position:absolute;
  left:337px;
  top:151px;
  width:21px;
  height:21px;
  font-size:7px;
}
#u605 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#A4B3C1;
  text-align:center;
}
#u606 {
  position:absolute;
  left:338px;
  top:157px;
  width:19px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#A4B3C1;
  text-align:center;
}
#u607 {
  position:absolute;
  left:0px;
  top:1px;
  width:19px;
  word-wrap:break-word;
}
#u608 {
  position:absolute;
  left:74px;
  top:124px;
  width:334px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:595px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609 {
  position:absolute;
  left:74px;
  top:723px;
  width:334px;
  height:595px;
}
#u610 {
  position:absolute;
  left:2px;
  top:290px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u611 {
  position:absolute;
  left:106px;
  top:752px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u612 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:17px;
}
#u613 {
  position:absolute;
  left:81px;
  top:723px;
  width:320px;
  height:17px;
}
#u614 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:43px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u615 {
  position:absolute;
  left:74px;
  top:739px;
  width:334px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u616 {
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u617 {
  position:absolute;
  left:371px;
  top:749px;
  width:23px;
  height:23px;
}
#u618 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u619 {
  position:absolute;
  left:90px;
  top:755px;
  width:17px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u620 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  position:absolute;
  left:74px;
  top:788px;
  width:334px;
  height:118px;
}
#u622 {
  position:absolute;
  left:2px;
  top:51px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u623 {
  position:absolute;
  left:81px;
  top:798px;
  width:55px;
  height:55px;
}
#u624 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u625 {
  position:absolute;
  left:141px;
  top:798px;
  width:29px;
  height:16px;
  color:#A1A1A1;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u627 {
  position:absolute;
  left:142px;
  top:835px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u629 {
  position:absolute;
  left:184px;
  top:870px;
  width:114px;
  height:22px;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631 {
  position:absolute;
  left:358px;
  top:819px;
  width:43px;
  height:16px;
}
#u632 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u633 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u634 {
  position:absolute;
  left:337px;
  top:817px;
  width:21px;
  height:21px;
  font-size:7px;
}
#u635 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#A4B3C1;
  text-align:center;
}
#u636 {
  position:absolute;
  left:338px;
  top:823px;
  width:19px;
  height:9px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#A4B3C1;
  text-align:center;
}
#u637 {
  position:absolute;
  left:0px;
  top:1px;
  width:19px;
  word-wrap:break-word;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u638 {
  position:absolute;
  left:141px;
  top:818px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u640 {
  position:absolute;
  left:74px;
  top:788px;
  width:334px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  position:absolute;
  left:74px;
  top:34px;
  width:71px;
  height:16px;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  position:absolute;
  left:74px;
  top:697px;
  width:71px;
  height:16px;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u646 {
  position:absolute;
  left:530px;
  top:331px;
  width:262px;
  height:62px;
  font-size:12px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u648 {
  position:absolute;
  left:531px;
  top:312px;
  width:131px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u650 {
  position:absolute;
  left:499px;
  top:309px;
  width:22px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u651 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u652 {
  position:absolute;
  left:408px;
  top:358px;
  width:0px;
  height:0px;
}
#u652_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u652_seg1 {
  position:absolute;
  left:68px;
  top:-42px;
  width:8px;
  height:46px;
}
#u652_seg2 {
  position:absolute;
  left:68px;
  top:-42px;
  width:23px;
  height:8px;
}
#u652_seg3 {
  position:absolute;
  left:78px;
  top:-48px;
  width:20px;
  height:20px;
}
#u653 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u654 {
  position:absolute;
  left:531px;
  top:613px;
  width:239px;
  height:43px;
  font-size:12px;
  color:#000000;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:175px;
}
#u656 {
  position:absolute;
  left:511px;
  top:411px;
  width:300px;
  height:175px;
}
#u657 {
  position:absolute;
  left:2px;
  top:80px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:121px;
}
#u658 {
  position:absolute;
  left:564px;
  top:421px;
  width:195px;
  height:121px;
}
#u659 {
  position:absolute;
  left:2px;
  top:52px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u660 {
  position:absolute;
  left:576px;
  top:552px;
  width:174px;
  height:15px;
  font-size:12px;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u663 {
  position:absolute;
  left:521px;
  top:128px;
  width:262px;
  height:19px;
  font-size:12px;
  color:#000000;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u665 {
  position:absolute;
  left:522px;
  top:63px;
  width:131px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u667 {
  position:absolute;
  left:490px;
  top:60px;
  width:22px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u668 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u669 {
  position:absolute;
  left:521px;
  top:83px;
  width:262px;
  height:45px;
  font-size:12px;
  color:#000000;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u671 {
  position:absolute;
  left:401px;
  top:161px;
  width:0px;
  height:0px;
}
#u671_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u671_seg1 {
  position:absolute;
  left:75px;
  top:-94px;
  width:8px;
  height:98px;
}
#u671_seg2 {
  position:absolute;
  left:75px;
  top:-94px;
  width:14px;
  height:8px;
}
#u671_seg3 {
  position:absolute;
  left:76px;
  top:-100px;
  width:20px;
  height:20px;
}
#u672 {
  position:absolute;
  left:29px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u674 {
  position:absolute;
  left:530px;
  top:993px;
  width:262px;
  height:62px;
  font-size:12px;
  color:#000000;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u676 {
  position:absolute;
  left:531px;
  top:974px;
  width:131px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u678 {
  position:absolute;
  left:499px;
  top:971px;
  width:22px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u679 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u680 {
  position:absolute;
  left:408px;
  top:1021px;
  width:0px;
  height:0px;
}
#u680_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u680_seg1 {
  position:absolute;
  left:68px;
  top:-43px;
  width:8px;
  height:47px;
}
#u680_seg2 {
  position:absolute;
  left:68px;
  top:-43px;
  width:23px;
  height:8px;
}
#u680_seg3 {
  position:absolute;
  left:78px;
  top:-49px;
  width:20px;
  height:20px;
}
#u681 {
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:175px;
}
#u682 {
  position:absolute;
  left:511px;
  top:1073px;
  width:300px;
  height:175px;
}
#u683 {
  position:absolute;
  left:2px;
  top:80px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:121px;
}
#u684 {
  position:absolute;
  left:564px;
  top:1083px;
  width:195px;
  height:121px;
}
#u685 {
  position:absolute;
  left:2px;
  top:52px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u686 {
  position:absolute;
  left:576px;
  top:1214px;
  width:174px;
  height:15px;
  font-size:12px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u689 {
  position:absolute;
  left:530px;
  top:771px;
  width:262px;
  height:19px;
  font-size:12px;
  color:#000000;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u691 {
  position:absolute;
  left:531px;
  top:721px;
  width:131px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u693 {
  position:absolute;
  left:499px;
  top:718px;
  width:22px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u694 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u695 {
  position:absolute;
  left:530px;
  top:741px;
  width:262px;
  height:29px;
  font-size:12px;
  color:#000000;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u697 {
  position:absolute;
  left:401px;
  top:827px;
  width:0px;
  height:0px;
}
#u697_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u697_seg1 {
  position:absolute;
  left:75px;
  top:-102px;
  width:8px;
  height:106px;
}
#u697_seg2 {
  position:absolute;
  left:75px;
  top:-102px;
  width:23px;
  height:8px;
}
#u697_seg3 {
  position:absolute;
  left:85px;
  top:-108px;
  width:20px;
  height:20px;
}
#u698 {
  position:absolute;
  left:29px;
  top:-27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
