body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:595px;
}
#u1 {
  position:absolute;
  left:394px;
  top:50px;
  width:334px;
  height:595px;
}
#u2 {
  position:absolute;
  left:2px;
  top:290px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:594px;
}
#u4 {
  position:absolute;
  left:20px;
  top:51px;
  width:333px;
  height:594px;
}
#u5 {
  position:absolute;
  left:2px;
  top:289px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:20px;
  top:371px;
  width:333px;
  height:51px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:20px;
  top:361px;
  width:43px;
  height:16px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u10 {
  position:absolute;
  left:306px;
  top:378px;
  width:43px;
  height:34px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:67px;
  top:387px;
  width:85px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14 {
  position:absolute;
  left:20px;
  top:20px;
  width:110px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16 {
  position:absolute;
  left:392px;
  top:20px;
  width:110px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:34px;
  top:380px;
  width:319px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
}
#u19 {
  position:absolute;
  left:603px;
  top:204px;
  width:105px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:446px;
  top:711px;
  width:274px;
  height:48px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:446px;
  top:761px;
  width:282px;
  height:32px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:442px;
  top:800px;
  width:272px;
  height:186px;
}
#u27 {
  position:absolute;
  left:2px;
  top:85px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:458px;
  top:870px;
  width:250px;
  height:31px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u30 {
  position:absolute;
  left:530px;
  top:812px;
  width:108px;
  height:31px;
  font-size:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:38px;
}
#u33 {
  position:absolute;
  left:455px;
  top:935px;
  width:247px;
  height:38px;
  font-size:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:11px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u35 {
  position:absolute;
  left:477px;
  top:941px;
  width:201px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u36 {
  position:absolute;
  left:0px;
  top:3px;
  width:201px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:2px;
}
#u37 {
  position:absolute;
  left:442px;
  top:842px;
  width:272px;
  height:1px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-8px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:446px;
  top:1016px;
  width:274px;
  height:97px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:708px;
  top:212px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u41_seg1 {
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:486px;
}
#u41_seg2 {
  position:absolute;
  left:-289px;
  top:474px;
  width:327px;
  height:8px;
}
#u41_seg3 {
  position:absolute;
  left:-289px;
  top:474px;
  width:8px;
  height:24px;
}
#u41_seg4 {
  position:absolute;
  left:-289px;
  top:494px;
  width:8px;
  height:4px;
}
#u41_seg5 {
  position:absolute;
  left:-295px;
  top:481px;
  width:20px;
  height:20px;
}
#u42 {
  position:absolute;
  left:-16px;
  top:382px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:349px;
  top:395px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u43_seg1 {
  position:absolute;
  left:28px;
  top:-4px;
  width:8px;
  height:329px;
}
#u43_seg2 {
  position:absolute;
  left:28px;
  top:317px;
  width:37px;
  height:8px;
}
#u43_seg3 {
  position:absolute;
  left:52px;
  top:311px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:-18px;
  top:153px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:595px;
}
#u45 {
  position:absolute;
  left:774px;
  top:49px;
  width:335px;
  height:595px;
}
#u46 {
  position:absolute;
  left:2px;
  top:290px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u47 {
  position:absolute;
  left:774px;
  top:20px;
  width:110px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
}
#u49 {
  position:absolute;
  left:990px;
  top:182px;
  width:105px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1110px;
  top:194px;
  width:0px;
  height:0px;
}
#u51_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u51_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:504px;
}
#u51_seg2 {
  position:absolute;
  left:-691px;
  top:492px;
  width:705px;
  height:8px;
}
#u51_seg3 {
  position:absolute;
  left:-691px;
  top:492px;
  width:8px;
  height:20px;
}
#u51_seg4 {
  position:absolute;
  left:-697px;
  top:499px;
  width:20px;
  height:20px;
}
#u52 {
  position:absolute;
  left:-144px;
  top:488px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u53 {
  position:absolute;
  left:414px;
  top:705px;
  width:22px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
